@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

// COMPONENTS
@import './components/index.scss';

body {
  background-color: $favColor;
}

.card {
  min-height: 100px !important
}

.boardImg {
  width: 70px;
  border-radius: 50px;
}

.search-input {
  width: 800px !important;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgb(233, 232, 232);
  border: none;
}

.search-select {
  border-radius: 10px;
  border: none
}

.nav-link {
  color: black !important
}

.boards {
  width: 100% !important
}
