@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

// COMPONENTS
@import './components/index.scss';

body {
  background-color: $favColor;
}

.card {
  min-height: 100px !important
}

.boardImg {
  width: 70px;
  border-radius: 50px;
}
