@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

// COMPONENTS
@import './components/index.scss';

body {
  background-color: white;
}

.card {
  min-height: 100px !important
}

.boardImg {
  width: 70px;
  border-radius: 50px;
}

.search-input {
  width: 800px !important;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgb(233, 232, 232);
  border: none;
}

.search-select {
  border-radius: 10px;
  border: none
}

.nav-link {
  color: black !important
}

.body-of-app {
  padding-top: 70px !important;
}

#board-container, #pin-container {
  display: flex;
  flex-flow: row wrap;
  margin: 1
}

// .boards-card .edit-button {
//   display: none
//  }

//  .boards-card .delete-button {
//   display: none
//  }

//  .boards-card .card-body {
//   display: none
//  }

//  .pins-card .card-body {
//   display: none
//  }

.card-body {
  display: none
}
 .card, .card-body, .card-img-top {
   border-radius: 30px;
 }

 .card:hover .card-img-top {
  opacity:  0.3 !important;
 }

 .card:hover .card-body {
   display: block;
   cursor: pointer;
  }

.card:hover .edit-button {
opacity: 0.5 !important;
 position: absolute;
 font-size: 2em;
 top: 0;
 left: 0;
 margin-top: .5em;
 margin-left: .7em
}

.card:hover .delete-button {
  opacity: 0.5 !important;
  position: absolute;
  font-size: 2em;
  top: 0;
  right: 0;
  margin-top: .5em;
  margin-right: .7em
 }

 .card:hover .card-title {
  opacity:  60%;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
 }
